# Ignore environment files
.env
.env.local
backend/.env
frontend/.env.local

# Ignore node_modules folders
node_modules/
backend/node_modules/
frontend/node_modules/

# Next.js build output
frontend/.next/

# Vercel
.vercel/
frontend/.vercel/

# OS
.DS_Store

# TypeScript
frontend/tsconfig.tsbuildinfo
